.logo {
    color: $accent-color;

    // padding-top: 25px;
    // padding-bottom: 24px;

    font-family: $logo-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header__logo-part {
    color: #000000;
}

.footer__logo-part {
    color: $white;
}